<link rel="stylesheet" href="entity-edit/styles.css" />

<lms-dialog show="show" title="Edit record" transclude buttons="actionButtons" class="edit-entity">
	<table>
		<tr ng-repeat="field in structure.fields">
			<td>{{ field.description }}</td>
			<td>
				<input
					ng-show="field.type=='string'"
					type="text"
					ng-model="data[field.name]"
					ng-class="{'first-field': $first}"
				/>
				<input
					ng-show="field.type=='date'"
					type="date"
					ng-model="data[field.name]"
					ng-class="{'first-field': $first}"
				/>
				<textarea
					ng-show="field.type=='longText'"
					ng-model="data[field.name]"
					ng-class="{'first-field': $first}"
					rows="{{ field.rows }}"
				></textarea>
			</td>
		</tr>
	</table>
</lms-dialog>
