<link rel="stylesheet" href="dialog/styles.css" />

<div ng-show="show" class="dialog backdrop">
	<div class="content">
		<div class="header">
			<h2>{{ title }}</h2>
			<button ng-click="show=false">&times;</button>
		</div>
		<div class="body">
			<div ng-show="parseTransclude()" ng-transclude></div>
			<p ng-hide="parseTransclude()">{{ message }}</p>
			<div class="buttons">
				<button ng-repeat="button in buttons" ng-click="choose(button.action)">{{ button.text }}</button>
			</div>
		</div>
	</div>
</div>
