.entity-list .actions {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: space-between;
	align-items: center;
}

.entity-list img.edit,
.entity-list img.delete,
.entity-list img.add {
	width: 1.5rem;
}

.entity-list .nowrap {
	text-wrap: nowrap;
}

.entity-list td {
	vertical-align: top;
}
