.entity-list-view .actions {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: space-between;
	align-items: center;
}

.entity-list-view img.edit,
.entity-list-view img.delete,
.entity-list-view img.add {
	width: 2rem;
}
