<link rel="stylesheet" href="entity-list-view/styles.css" />

<table class="entity-list-view">
	<tr>
		<th ng-repeat="field in structure.fields">{{ field.description }}</th>
		<th>Actions</th>
	</tr>
	<tr ng-repeat="record in data">
		<td ng-repeat="field in structure.fields">{{ record[field.name] }}</td>
		<td>
			<div class="actions">
				<button ng-click="edit(record[keyField])">
					<img src="/assets/images/table-edit.svg" class="edit" />
				</button>
				<button ng-click="delete(record[keyField])">
					<img src="/assets/images/trash-can-outline.svg" class="delete" />
				</button>
			</div>
		</td>
	</tr>
</table>

<entity-edit show="showEditDialog" entity="{{ entity }}" key="{{ selectedKey }}" save-action="saveAction"></entity-edit>

<lms-dialog
	show="showDeleteDialog"
	title="Delete record"
	message='Are you sure you want to delete {{ structure.name }} "{{ selectedKey }}"?'
	buttons="deleteConfirmButtons"
>
</lms-dialog>
